<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${book.title}">Book Detail</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/catalogue.css"/>

</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h2 th:text="${book.title}">Book Title</h2>
    <p><strong>Author:</strong> <span th:text="${book.author}">Author</span></p>
    <p><strong>ISBN:</strong> <span th:text="${book.isbn}">ISBN</span></p>

    <form th:action="@{'/catalogue/' + ${book.bookId} + '/edit'}" method="post">
        <label>
            <span>Title:</span>
            <input type="text" name="title" th:value="${book.title}" />
        </label>
        <label>
            <span>Author:</span>
            <input type="text" name="author" th:value="${book.author}" />
        </label>
        <label>
            <span>ISBN:</span>
            <input type="text" name="isbn" th:value="${book.isbn}" />
        </label>
        <input type="submit" value="Update Book" />
    </form>

    <form th:action="@{'/catalogue/delete-book?bookId=' + ${book.bookId}}" method="post">
        <input type="submit" value="Delete Book" class="delete-button"/>
    </form>
</div>

</body>
</html>
